<p id="notice"><%= notice %></p>

<h1>Listing Registration Settings</h1>

<table class="table">
  <thead>
    <tr>
      <th>Value of coupon</th>
      <th>Validity of coupon</th>
      <th>No of coupons</th>
      <th>Shop</th>
      <th colspan="3">Operations</th>
    </tr>
  </thead>

  <tbody>
    <% @registration_settings.each do |registration_setting| %>
      <tr>
        <td><%= registration_setting.Value_of_coupon %></td>
        <td><%= registration_setting.Validity_of_coupon %></td>
        <td><%= registration_setting.No_of_Coupons %></td>
        <td><%= registration_setting.shop %></td>
        <td><%= link_to 'Show', registration_setting %></td>
        <td><%= link_to 'Edit', edit_registration_setting_path(registration_setting) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
