<!--<p id="notice"><%= notice %></p>-->

<p>
  <strong>Value of coupon:</strong>
  <%= @registration_setting.Value_of_coupon %>
</p>

<p>
  <strong>Validity of coupon</strong> (days):
  <%= @registration_setting.Validity_of_coupon %>
</p>

<p>
  <strong>No of coupons:</strong>
  <%= @registration_setting.No_of_Coupons %>
</p>

<table class="table">
    <tr>
        <td>Coupon value</td>
        <td>Price range</td>
    </tr>
<% @registration_setting.registration_coupons.each do |registration_coupon|  %>
    <tr>
        <td><%= registration_coupon.coupon_value %></td>
        <td><%= registration_coupon.price_range %></td>
    </tr>
<% end %>
</table>
<%= link_to 'Edit', edit_registration_setting_path(@registration_setting) %> 
<%= link_to 'Back', registration_settings_path %>

