<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @premium_account.name %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @premium_account.amount %>
</p>

<p>
  <strong>Validity:</strong>
  <%= @premium_account.validity %>
</p>

<p>
  <strong>Description:</strong>
  <%= @premium_account.description %>
</p>

<%= link_to 'Edit', edit_premium_account_path(@premium_account) %> |
<%= link_to 'Back', premium_accounts_path %>
