<%= form_for(@customer_refer_email) do |f| %>
  <% if @customer_refer_email.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer_refer_email.errors.count, "error") %> prohibited this customer_refer_email from being saved:</h2>

      <ul>
      <% @customer_refer_email.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :customer_id %><br>
    <%= f.number_field :customer_id %>
  </div>
  <div class="field">
    <%= f.label :refer_email %><br>
    <%= f.text_field :refer_email %>
  </div>
  <div class="field">
    <%= f.label :no_of_times_sent %><br>
    <%= f.number_field :no_of_times_sent %>
  </div>
  <div class="field">
    <%= f.label :joined %><br>
    <%= f.check_box :joined %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
