<p id="notice"><%= notice %></p>

<h1>Listing Image Files</h1>

<table>
  <thead>
    <tr>
      <th>Product</th>
      <th>Path</th>
      <th>Image for</th>
      <th>Cost</th>
      <th>Pairs</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @image_files.each do |image_file| %>
      <tr>
        <td><%= image_file.product_type %></td>
        <td><%= image_file.path %></td>
        <td><%= image_file.image_for %></td>
        <td><%= image_file.cost %></td>
        <td><%= image_file.pairs %></td>
        <td><%= link_to 'Show', image_file %></td>
        <td><%= link_to 'Edit', edit_image_file_path(image_file) %></td>
        <td><%= link_to 'Destroy', image_file, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Image file', new_image_file_path %>
