<p><strong>Shop :</strong><%= @custom_tailoring. shop                   %></p>
<p><strong>Product Type:</strong><%= @custom_tailoring. product_type           %></p>
<p><strong>Order id:</strong><%= @custom_tailoring. order_id               %></p>
<p>
  <strong>Preset name:</strong>
  <%= @custom_tailoring.preset_name %>
</p>

<p>
  <strong>Front neck style:</strong>
  <%= @custom_tailoring.front_neck_style %>
</p>

<p>
  <strong>Back neck style:</strong>
  <%= @custom_tailoring.back_neck_style %>
</p>

<p>
  <strong>Sleeve style:</strong>
  <%= @custom_tailoring.sleeve_style %>
</p>

<p>
  <strong>Fitting:</strong>
  <%= @custom_tailoring.fitting %>
</p>

<p>
  <strong>Blouse opening:</strong>
  <%= @custom_tailoring.blouse_opening %>
</p>

<p>
  <strong>Fall and edging:</strong>
  <%= @custom_tailoring.fall_and_edging %>
</p>

<p>
  <strong>Lining:</strong>
  <%= @custom_tailoring.lining %>
</p>

<p>
  <strong>Petticoat inskirt:</strong>
  <%= @custom_tailoring.petticoat_inskirt %>
</p>

<p>
  <strong>Around bust:</strong>
  <%= @custom_tailoring.around_bust %>
</p>

<p>
  <strong>Shoulder:</strong>
  <%= @custom_tailoring.shoulder %>
</p>

<p>
  <strong>Natural waist:</strong>
  <%= @custom_tailoring.natural_waist %>
</p>

<p>
  <strong>Around arm hole:</strong>
  <%= @custom_tailoring.around_arm_hole %>
</p>

<p>
  <strong>Around arm:</strong>
  <%= @custom_tailoring.around_arm %>
</p>

<p>
  <strong>Your height:</strong>
  <%= @custom_tailoring.your_height %>
</p>

<p>
  <strong>Front neck depth:</strong>
  <%= @custom_tailoring.front_neck_depth %>
</p>

<p>
  <strong>Back neck depth:</strong>
  <%= @custom_tailoring.back_neck_depth %>
</p>

<p>
  <strong>Sleeve length:</strong>
  <%= @custom_tailoring.sleeve_length %>
</p>

<p>
  <strong>Blouse length:</strong>
  <%= @custom_tailoring.blouse_length %>
</p>

<p>
  <strong>Product:</strong>
  <%= @custom_tailoring.product_id %>
</p>

<p>
  <strong>Product name:</strong>
  <%= @custom_tailoring.product_name %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @custom_tailoring.customer_id %>
</p>

<p><strong>Front Neck Style :</strong><%= @custom_tailoring.front_neck_style_name  %></p>
<p><strong>Back Neck Style :</strong><%= @custom_tailoring. back_neck_style_name   %></p>
<p><strong>Sleeve Style :</strong><%= @custom_tailoring. sleeve_style_name      %></p>
<p><strong>Inskirt Length :</strong><%= @custom_tailoring. inskirt_length         %></p>
<p><strong>Around Waist Size :</strong><%= @custom_tailoring. around_waist_size      %></p>
<p><strong>Around Hips :</strong><%= @custom_tailoring. around_hips            %></p>
<p><strong>Kameez Length :</strong><%= @custom_tailoring. kameez_length          %></p>
<p><strong>Salwar Length :</strong><%= @custom_tailoring. salwar_length          %></p>
<p><strong>Bottom Style:</strong><%= @custom_tailoring. bottom_style %></p>