<table class="table">
<tr><td><strong>Shop :</strong></td><td><%= @custom_tailoring.shop                   %></td></tr>
<tr><td><strong>Product Type:</strong></td><td><%= @custom_tailoring.product_type           %></td></tr>
<tr><td>
  <strong>Product:</strong></td><td>
  <%= @custom_tailoring.product_id %>
</td></tr>

<tr><td>
  <strong>Product name:</strong></td><td>
  <%= @custom_tailoring.product_name %>
</td></tr>

<tr><td>
  <strong>Customer:</strong></td><td>
  <%= @custom_tailoring.customer_id %>
</td></tr>
<tr><td><strong>Order id:</strong></td><td><%= @custom_tailoring.order_id               %></td></tr>
<tr><td>
  <strong>Preset name:</strong></td><td>
  <%= @custom_tailoring.preset_name %>
</td></tr>

<tr><td>
  <strong>Front neck style:</strong></td><td>
  <%= @custom_tailoring.front_neck_style %>
</td></tr>

<tr><td>
  <strong>Back neck style:</strong></td><td>
  <%= @custom_tailoring.back_neck_style %>
</td></tr>

<tr><td>
  <strong>Sleeve style:</strong></td><td>
  <%= @custom_tailoring.sleeve_style %>
</td></tr>

<tr><td>
  <strong>Fitting:</strong></td><td>
  <%= @custom_tailoring.fitting %>
</td></tr>

<tr><td>
  <strong>Blouse opening:</strong></td><td>
  <%= @custom_tailoring.blouse_opening %>
</td></tr>

<tr><td>
  <strong>Fall and edging:</strong></td><td>
  <%= @custom_tailoring.fall_and_edging %>
</td></tr>

<tr><td>
  <strong>Lining:</strong></td><td>
  <%= @custom_tailoring.lining %>
</td></tr>

<tr><td>
  <strong>Petticoat inskirt:</strong></td><td>
  <%= @custom_tailoring.petticoat_inskirt %>
</td></tr>

<tr><td>
  <strong>Around bust:</strong></td><td>
  <%= @custom_tailoring.around_bust %>
</td></tr>

<tr><td>
  <strong>Shoulder:</strong></td><td>
  <%= @custom_tailoring.shoulder %>
</td></tr>

<tr><td>
  <strong>Natural waist:</strong></td><td>
  <%= @custom_tailoring.natural_waist %>
</td></tr>

<tr><td>
  <strong>Around arm hole:</strong></td><td>
  <%= @custom_tailoring.around_arm_hole %>
</td></tr>

<tr><td>
  <strong>Around arm:</strong></td><td>
  <%= @custom_tailoring.around_arm %>
</td></tr>

<tr><td>
  <strong>Your height:</strong></td><td>
  <%= @custom_tailoring.your_height %>
</td></tr>

<tr><td>
  <strong>Front neck depth:</strong></td><td>
  <%= @custom_tailoring.front_neck_depth %>
</td></tr>

<tr><td>
  <strong>Back neck depth:</strong></td><td>
  <%= @custom_tailoring.back_neck_depth %>
</td></tr>

<tr><td>
  <strong>Sleeve length:</strong></td><td>
  <%= @custom_tailoring.sleeve_length %>
</td></tr>

<tr><td>
  <strong>Blouse length:</strong></td><td>
  <%= @custom_tailoring.blouse_length %>
</td></tr>
<tr><td><strong>Inskirt Length :</strong></td><td><%= @custom_tailoring.inskirt_length %></td></tr>
<tr><td><strong>Around Waist Size :</strong></td><td><%= @custom_tailoring.around_waist_size  %></td></tr>
<tr><td><strong>Around Hips :</strong></td><td><%= @custom_tailoring.around_hips %></td></tr>
<tr><td><strong>Kameez Length :</strong></td><td><%= @custom_tailoring.kameez_length  %></td></tr>
<tr><td><strong>Salwar Length :</strong></td><td><%= @custom_tailoring.salwar_length  %></td></tr>
<tr><td><strong>Bottom Style:</strong></td><td><%= @custom_tailoring.bottom_style %></td></tr>
</table>