<p id="notice"><%= notice %></p>

<h1>Listing Custom Tailorings</h1>

<table>
  <thead>
    <tr>
      <th>Preset name</th>
      <th>Front neck style</th>
      <th>Back neck style</th>
      <th>Sleeve style</th>
      <th>Fitting</th>
      <th>Blouse opening</th>
      <th>Fall and edging</th>
      <th>Lining</th>
      <th>Petticoat inskirt</th>
      <th>Around bust</th>
      <th>Shoulder</th>
      <th>Natural waist</th>
      <th>Around arm hole</th>
      <th>Around arm</th>
      <th>Your height</th>
      <th>Front neck depth</th>
      <th>Back neck depth</th>
      <th>Sleeve length</th>
      <th>Blouse length</th>
      <th>Product</th>
      <th>Product name</th>
      <th>Customer</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @custom_tailorings.each do |custom_tailoring| %>
      <tr>
        <td><%= custom_tailoring.preset_name %></td>
        <td><%= custom_tailoring.front_neck_style %></td>
        <td><%= custom_tailoring.back_neck_style %></td>
        <td><%= custom_tailoring.sleeve_style %></td>
        <td><%= custom_tailoring.fitting %></td>
        <td><%= custom_tailoring.blouse_opening %></td>
        <td><%= custom_tailoring.fall_and_edging %></td>
        <td><%= custom_tailoring.lining %></td>
        <td><%= custom_tailoring.petticoat_inskirt %></td>
        <td><%= custom_tailoring.around_bust %></td>
        <td><%= custom_tailoring.shoulder %></td>
        <td><%= custom_tailoring.natural_waist %></td>
        <td><%= custom_tailoring.around_arm_hole %></td>
        <td><%= custom_tailoring.around_arm %></td>
        <td><%= custom_tailoring.your_height %></td>
        <td><%= custom_tailoring.front_neck_depth %></td>
        <td><%= custom_tailoring.back_neck_depth %></td>
        <td><%= custom_tailoring.sleeve_length %></td>
        <td><%= custom_tailoring.blouse_length %></td>
        <td><%= custom_tailoring.product_id %></td>
        <td><%= custom_tailoring.product_name %></td>
        <td><%= custom_tailoring.customer_id %></td>
        <td><%= link_to 'Show', custom_tailoring %></td>
        <td><%= link_to 'Edit', edit_custom_tailoring_path(custom_tailoring) %></td>
        <td><%= link_to 'Destroy', custom_tailoring, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Custom tailoring', new_custom_tailoring_path %>
