<p id="notice"><%= notice %></p>

<p>
  <strong>Regular fit:</strong>
  <%= @custom_tailoring.regular_fit %>
</p>

<p>
  <strong>Comfort fit:</strong>
  <%= @custom_tailoring.comfort_fit %>
</p>

<p>
  <strong>Around bust:</strong>
  <%= @custom_tailoring.around_bust %>
</p>

<p>
  <strong>Around above waist:</strong>
  <%= @custom_tailoring.around_above_waist %>
</p>

<p>
  <strong>Shoulder:</strong>
  <%= @custom_tailoring.shoulder %>
</p>

<p>
  <strong>Around arm hole:</strong>
  <%= @custom_tailoring.around_arm_hole %>
</p>

<p>
  <strong>Around arm:</strong>
  <%= @custom_tailoring.around_arm %>
</p>

<p>
  <strong>Your height:</strong>
  <%= @custom_tailoring.your_height %>
</p>

<p>
  <strong>Measurement unit:</strong>
  <%= @custom_tailoring.measurement_unit %>
</p>

<p>
  <strong>Front neck style:</strong>
  <%= @custom_tailoring.front_neck_style %>
</p>

<p>
  <strong>Front neck depth:</strong>
  <%= @custom_tailoring.front_neck_depth %>
</p>

<p>
  <strong>Back neck style:</strong>
  <%= @custom_tailoring.back_neck_style %>
</p>

<p>
  <strong>Back neck depth:</strong>
  <%= @custom_tailoring.back_neck_depth %>
</p>

<p>
  <strong>Sleeve style:</strong>
  <%= @custom_tailoring.sleeve_style %>
</p>

<p>
  <strong>Sleeve length:</strong>
  <%= @custom_tailoring.sleeve_length %>
</p>

<p>
  <strong>Blouse length:</strong>
  <%= @custom_tailoring.blouse_length %>
</p>

<p>
  <strong>Closing side:</strong>
  <%= @custom_tailoring.closing_side %>
</p>

<p>
  <strong>Closing with:</strong>
  <%= @custom_tailoring.closing_with %>
</p>

<p>
  <strong>Lining:</strong>
  <%= @custom_tailoring.lining %>
</p>

<p>
  <strong>Adornment placement:</strong>
  <%= @custom_tailoring.adornment_placement %>
</p>

<p>
  <strong>Adornment type:</strong>
  <%= @custom_tailoring.adornment_type %>
</p>

<%= link_to 'Edit', edit_custom_tailoring_path(@custom_tailoring) %> |
<%= link_to 'Back', custom_tailorings_path %>
