<%= form_for(@affiliate_reward_setting) do |f| %>
  <% if @affiliate_reward_setting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@affiliate_reward_setting.errors.count, "error") %> prohibited this affiliate_reward_setting from being saved:</h2>

      <ul>
      <% @affiliate_reward_setting.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :points_for_registration %><br>
    <%= f.number_field :points_for_registration %>
  </div>
  <div class="field">
    <p><strong>Minimum Purchase Amount to earn points</strong></p>
    <!--<%= f.label :min_purchase_amount_earn_points %><br>-->
    <%= f.number_field :min_purchase_amount_earn_points %>
  </div>
  <div class="field">
    <p><strong>No. of points for Minimum Purchase Amount </strong></p>
    <!--<%= f.label :points_earn_for_min_amount %><br>-->
    <%= f.number_field :points_earn_for_min_amount %>
  </div>
  <h2>Redeem Points Settings</h2>
  <div class="field">
    <p><strong>Minimum points to Redeem</strong></p>
    <!--<%= f.label :min_points_to_redeem %><br>-->
    <%= f.number_field :min_points_to_redeem %>
  </div>
    <div class="field">
    <p><strong>Maximum points to Redeem</strong></p>
    <!--<%= f.label :maximum_points_to_redeem %><br>-->
    <%= f.number_field :maximum_points_to_redeem %>
  </div>
  <div class="field">
    <p><strong>Amount for above Redeem points</strong></p>
    <!--<%= f.label :amount_for_min_redeem_points %><br>-->
    <%= f.number_field :amount_for_min_redeem_points %>
  </div>
    <div class="field">
    <p><strong>Redeem Coupon Validity</strong>(Days)</p>
    <%= f.number_field :coupon_validity %>
  </div>
  <h2>Referral Settings</h2>
  <div class="field">
    <p><strong>Points on first purchase of Referree</strong></p>
    <!--<%= f.label :points_for_referral %><br>-->
    <%= f.number_field :points_for_referral %>
  </div>
  <div class="field">
    <p><strong>Minimum purchase Amount of Referree</strong></p>
    <!--<%= f.label :minmum_purchase_amount_for_refer %><br>-->
    <%= f.number_field :minmum_purchase_amount_for_refer %>
  </div>
  <div class="field">
    <p><strong>premium membership validity for referee</strong>(Days)</p>
    <!--<%= f.label :referee_premium_membership_validity %><br>-->
    <%= f.number_field :referee_premium_membership_validity %>
  </div>
  <div class="field">
    <%= f.label :maximum_orders_of_referee_to_consider %><br>
    <%= f.number_field :maximum_orders_of_referee_to_consider %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
