<p id="notice"><%= notice %></p>

<p>
  <strong>Preset name:</strong>
  <%= @custom_tailoring_shopped.preset_name %>
</p>

<p>
  <strong>Front neck style value:</strong>
  <%= @custom_tailoring_shopped.front_neck_style_value %>
</p>

<p>
  <strong>Back neck style value:</strong>
  <%= @custom_tailoring_shopped.back_neck_style_value %>
</p>

<p>
  <strong>Sleeve style value:</strong>
  <%= @custom_tailoring_shopped.sleeve_style_value %>
</p>

<p>
  <strong>Front neck style name:</strong>
  <%= @custom_tailoring_shopped.front_neck_style_name %>
</p>

<p>
  <strong>Back neck style name:</strong>
  <%= @custom_tailoring_shopped.back_neck_style_name %>
</p>

<p>
  <strong>Sleeve style name:</strong>
  <%= @custom_tailoring_shopped.sleeve_style_name %>
</p>

<p>
  <strong>Fitting:</strong>
  <%= @custom_tailoring_shopped.fitting %>
</p>

<p>
  <strong>Blouse opening:</strong>
  <%= @custom_tailoring_shopped.blouse_opening %>
</p>

<p>
  <strong>Fall and edging:</strong>
  <%= @custom_tailoring_shopped.fall_and_edging %>
</p>

<p>
  <strong>Lining:</strong>
  <%= @custom_tailoring_shopped.lining %>
</p>

<p>
  <strong>Petticoat inskirt:</strong>
  <%= @custom_tailoring_shopped.petticoat_inskirt %>
</p>

<p>
  <strong>Around bust:</strong>
  <%= @custom_tailoring_shopped.around_bust %>
</p>

<p>
  <strong>Shoulder:</strong>
  <%= @custom_tailoring_shopped.shoulder %>
</p>

<p>
  <strong>Natural waist:</strong>
  <%= @custom_tailoring_shopped.natural_waist %>
</p>

<p>
  <strong>Around arm hole:</strong>
  <%= @custom_tailoring_shopped.around_arm_hole %>
</p>

<p>
  <strong>Around arm:</strong>
  <%= @custom_tailoring_shopped.around_arm %>
</p>

<p>
  <strong>Your height:</strong>
  <%= @custom_tailoring_shopped.your_height %>
</p>

<p>
  <strong>Front neck depth:</strong>
  <%= @custom_tailoring_shopped.front_neck_depth %>
</p>

<p>
  <strong>Back neck depth:</strong>
  <%= @custom_tailoring_shopped.back_neck_depth %>
</p>

<p>
  <strong>Sleeve length:</strong>
  <%= @custom_tailoring_shopped.sleeve_length %>
</p>

<p>
  <strong>Blouse length:</strong>
  <%= @custom_tailoring_shopped.blouse_length %>
</p>

<p>
  <strong>Product:</strong>
  <%= @custom_tailoring_shopped.product_id %>
</p>

<p>
  <strong>Product name:</strong>
  <%= @custom_tailoring_shopped.product_name %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @custom_tailoring_shopped.customer_id %>
</p>

<%= link_to 'Edit', edit_custom_tailoring_shopped_path(@custom_tailoring_shopped) %> |
<%= link_to 'Back', custom_tailoring_shoppeds_path %>
