<%= form_for(@customer) do |f| %>
  <% if @customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% @customer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :customer_id %><br>
    <%= f.number_field :customer_id %>
  </div>
  <div class="field">
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :reward_points_gained %><br>
    <%= f.number_field :reward_points_gained %>
  </div>
  <div class="field">
    <%= f.label :reward_points_redeemed %><br>
    <%= f.number_field :reward_points_redeemed %>
  </div>
  <div class="field">
    <%= f.label :reward_points_balance %><br>
    <%= f.number_field :reward_points_balance %>
  </div>
  <div class="field">
    <%= f.label :referral_count %><br>
    <%= f.number_field :referral_count %>
  </div>
  <div class="field">
    <%= f.label :referral_amount %><br>
    <%= f.number_field :referral_amount %>
  </div>
  <div class="field">
    <%= f.label :orders_count %><br>
    <%= f.number_field :orders_count %>
  </div>
  <div class="field">
    <%= f.label :orders_amount %><br>
    <%= f.number_field :orders_amount %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
