<p id="notice"><%= notice %></p>

<h1>Listing Customers</h1>

<table class="table">
  <thead>
    <tr>
      <th>Customer</th>
      <th>First name</th>
      <th>Last name</th>
      <th>Email</th>
      <th>Orders</th>
    </tr>
  </thead>
  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.customer_id %></td>
        <td><%= customer.first_name %></td>
        <td><%= customer.last_name %></td>
        <td><%= customer.email %></td>
        <td><%= link_to 'Orders', customer_orders_path(customer) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
