<%= form_for(@reward_setting) do |f| %>
  <% if @reward_setting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reward_setting.errors.count, "error") %> prohibited this reward_setting from being saved:</h2>

      <ul>
      <% @reward_setting.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :points_for_registration %><br>
    <%= f.text_field :points_for_registration %>
  </div>
  <div class="field">
    <%= f.label :minium_purchase_amount_earn_points %><br>
    <%= f.text_field :minium_purchase_amount_earn_points %>
  </div>
  <div class="field">
    <%= f.label :points_earn_for_minimum_amount %><br>
    <%= f.text_field :points_earn_for_minimum_amount %>
  </div>
  <div class="field">
    <%= f.label :minimum_points_to_redeem %><br>
    <%= f.text_field :minimum_points_to_redeem %>
  </div>
  <div class="field">
    <%= f.label :amount_for_minimum_redeem_points %><br>
    <%= f.text_field :amount_for_minimum_redeem_points %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
