<p id="notice"><%= notice %></p>

<h1>Listing Reward Settings</h1>

<table>
  <thead>
    <tr>
      <th>Points for registration</th>
      <th>Min purchase amount earn points</th>
      <th>Points earn for min amount</th>
      <th>Min points to redeem</th>
      <th>Amount for min redeem points</th>
      <th>Points for referral</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reward_settings.each do |reward_setting| %>
      <tr>
        <td><%= reward_setting.points_for_registration %></td>
        <td><%= reward_setting.min_purchase_amount_earn_points %></td>
        <td><%= reward_setting.points_earn_for_min_amount %></td>
        <td><%= reward_setting.min_points_to_redeem %></td>
        <td><%= reward_setting.amount_for_min_redeem_points %></td>
        <td><%= reward_setting.points_for_referral %></td>
        <td><%= link_to 'Show', reward_setting %></td>
        <td><%= link_to 'Edit', edit_reward_setting_path(reward_setting) %></td>
        <td><%= link_to 'Destroy', reward_setting, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Reward setting', new_reward_setting_path %>
