<h1>Listing Codes</h1>

<table>
  <thead>
    <tr>
      <th>Discount generator</th>
      <th>Coupon code</th>
      <th>Status</th>
      <th>Times used</th>
      <th>Customer</th>
      <th>Operations</th>
    </tr>
  </thead>
  <tbody>
    <% @codes.each do |code| %>
      <tr>
        <td><%= code.discount_generator_id %></td>
        <td><%= code.coupon_code %></td>
        <td><%= code.status %></td>
        <td><%= code.times_used %></td>
        <td><%= code.customer_id %></td>
        <td><%= link_to 'Destroy', code, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'Back', discount_generators_path %>
<br>

