<p id="notice"><%= notice %></p>

<p>
  <strong>Variant:</strong>
  <%= @variant.variant_id %>
</p>

<p>
  <strong>Product:</strong>
  <%= @variant.product_id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @variant.title %>
</p>

<p>
  <strong>Price:</strong>
  <%= @variant.price %>
</p>

<%= link_to 'Edit', edit_variant_path(@variant) %> |
<%= link_to 'Back', variants_path %>
