<%= form_for(@discount) do |f| %>
  <% if @discount.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@discount.errors.count, "error") %> prohibited this discount from being saved:</h2>

      <ul>
      <% @discount.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :code %><br>
    <%= f.text_field :code %>
  </div>
  <div class="field">
    <%= f.label :value %><br>
    <%= f.text_field :value %>
  </div>
  <div class="field">
    <%= f.label :ends_at %><br>
    <%= f.date_select :ends_at %>
  </div>
  <div class="field">
    <%= f.label :starts_at %><br>
    <%= f.date_select :starts_at %>
  </div>
  <div class="field">
    <%= f.label :minimum_order_amount %><br>
    <%= f.text_field :minimum_order_amount %>
  </div>
  <div class="field">
    <%= f.label :usage_limit %><br>
    <%= f.text_field :usage_limit %>
  </div>
  <div class="field">
    <%= f.label :discount_type %><br>
    <%= f.select :discount_type, [['Registration','IGER'],['Referral','EFRE'],['Redeem','DEFE']] %>
  </div>
  <div class="field">
    <%= f.label :creation_date %><br>
    <%= f.date_select :creation_date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
