<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @discount.code %>
</p>

<p>
  <strong>Value:</strong>
  <%= @discount.value %>
</p>

<p>
  <strong>Ends at:</strong>
  <%= @discount.ends_at %>
</p>

<p>
  <strong>Starts at:</strong>
  <%= @discount.starts_at %>
</p>

<p>
  <strong>Status:</strong>
  <%= @discount.status %>
</p>

<p>
  <strong>Minimum order amount:</strong>
  <%= @discount.minimum_order_amount %>
</p>

<p>
  <strong>Usage limit:</strong>
  <%= @discount.usage_limit %>
</p>

<p>
  <strong>Applies to:</strong>
  <%= @discount.applies_to_id %>
</p>

<p>
  <strong>Applies once:</strong>
  <%= @discount.applies_once %>
</p>

<p>
  <strong>Discount type:</strong>
  <%= @discount.discount_type %>
</p>

<p>
  <strong>Applies to resource:</strong>
  <%= @discount.applies_to_resource %>
</p>

<p>
  <strong>Times used:</strong>
  <%= @discount.times_used %>
</p>

<p>
  <strong>Creation date:</strong>
  <%= @discount.creation_date %>
</p>

<%= link_to 'Edit', edit_discount_path(@discount) %> |
<%= link_to 'Back', discounts_path %>
