<p id="notice"><%= notice %></p>

<h1>Listing Products</h1>
<table data-toggle="table"  >
  <thead>
    <tr>
      <th data-field="state" data-checkbox="true">Select</th>
      <th>Product</th>
      <th>Title</th>
      <th>Vendor</th>
      <th>Descriptions</th>
      <!--<th colspan="3"></th>-->
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td></td>
        <td><%= product.product_id %></td>
        <td><%= product.title %></td>
        <td><%= product.vendor %></td>
        <td><%= link_to 'Descriptions', get_products_descriptions_path(product.product_id) %></td>
        <!--<td><%= link_to 'Show', product %></td>-->
        <!--<td><%= link_to 'Edit', edit_product_path(product) %></td>-->
        <!--<td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Get Products from Shopify', get_all_products_path %>
