<p id="notice"><%= notice %></p>

<h1>Listing Line Items</h1>

<table class="table">
  <thead>
    <tr>
      <th>Id</th>
      <th>Variant</th>
      <th>Variant title</th>
      <th>Product</th>
      <th>Title</th>
      <th>Quantity</th>
      <th>Price</th>
      <th>Order</th>
    </tr>
  </thead>
  <tbody>
    <% @line_items.each do |line_item| %>
      <tr>
        <td><%= line_item.id %></td>
        <td><%= line_item.variant_id %></td>
        <td><%= line_item.variant_title %></td>
        <td><%= line_item.product_id %></td>
        <td><%= line_item.title %></td>
        <td><%= line_item.quantity %></td>
        <td><%= line_item.price %></td>
        <td><%= line_item.order_id %></td>
      </tr>
      <% if line_item.line_item_properties.lenght > 0 %>
      <tr>
          <td colspan="8">
              <table class="table">
                <thead>
                    <tr>
                      <th>Name</th>
                      <th>Value</th>
                      <th>Line item</th>
                    </tr>
                </thead>
                <tbody>
                <% line_item.line_item_properties.each do |line_item_property| %>
                <tr>
                    <td><%= line_item_property.name %></td>
                    <td><%= line_item_property.value %></td>
                    <td><%= line_item_property.line_item_id %></td>
                </tr>
                <% end %>
                </tbody>
            </table>
        </td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Line item', new_line_item_path %>
