<p id="notice"><%= notice %></p>

<h1>Listing Line Items</h1>

<table class="table">
  <thead>
    <tr>
      <th>Variant</th>
      <th>Title</th>
      <th>Quantity</th>
      <th>Price</th>
      <th>Order</th>
    </tr>
  </thead>
  <tbody>
    <% @line_items.each do |line_item| %>
      <tr>
        <td><%= line_item.variant_title %></td>
        <td><%= line_item.title %></td>
        <td><%= line_item.quantity %></td>
        <td><%= line_item.price %></td>
        <td><%= line_item.order_id %></td>
      </tr>
      <% if line_item.line_item_properties.length > 0 %>
      <tr>
          <td colspan="5">
            <table border="1" align="center">
                <tr>
                    <td>Details</td>
                </tr>
                <tr>
                    <td>
                        <table class="table">
                        <thead>
                            <tr>
                              <th>Name</th>
                              <th>Value</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% line_item.line_item_properties.each do |line_item_property| %>
                            <tr>
                                <td><%= line_item_property.name %></td>
                                <td>
                                    <% if "Preset Id" == line_item_property.name %>
                                        <%= link_to line_item_property.value, custom_tailorings_by_id_path(line_item_property.value) %>    
                                    <% else %>
                                        <%= line_item_property.value %>
                                    <% end %>    
                                </td>
                            </tr>
                            <% end %>
                        </tbody>
                        </table>
                    </td>
                </tr>
            </table>      
            </td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>