<%= form_for @description_template, :html => { :class => "form-horizontal description_template" } do |f| %>
<%= stylesheet_link_tag "bootstrap.min", :media => "all" %>
    <%= stylesheet_link_tag "bootstrap-table", :media => "all" %>
    <%= javascript_include_tag "jquery-1.11.3.min" %>
    <%= javascript_include_tag "bootstrap.min" %>
    <%= javascript_include_tag "bootstrap-table" %>
    <%= javascript_include_tag "application" %>
    
    <% if @description_template.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@description_template.errors.count, "error") %> prohibited this description_template from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @description_template.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :title, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :title, :class => 'form-control' %>
    </div>
    <%= error_span(@description_template[:title]) %>
  </div>
  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :description, :class => 'form-control' %>
    </div>
    <%= error_span(@description_template[:description]) %>
  </div>


  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            description_templates_path, :class => 'btn btn-default' %>

<% end %>
<script>
  //CKEDITOR.replace( 'description_template_description' );
</script>